---
name: python-function-offline-testing

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cors-python:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Python setup
        uses: actions/setup-python@v4
      - name: Install python dev requirements
        run: pip install -r functions/cors-python/requirements-dev.txt
      - name: Run python offline testing
        uses: BerniWittmann/background-server-action@v1
        with:
          command: pytest functions/cors-python
          start: |
            cd functions/cors-python
            python functions/cors-python/handler.py
          wait-on: 'http://localhost:8080'
          wait-on-timeout: 60
